@require layout

body
  background black
  color white

.layer
  height 60vh
  background-position center center
  background-repeat no-repeat
  background-size contain
  font-size 6vh
  font-family sans-serif
  .overlay
    min-width 6vh
    min-height 6vh
    background-size contain
    background-position center center
    background-repeat no-repeat