doctype html
head
  title Feature Discrimination
  link(rel='stylesheet', href='/styles/main.css')
  script(src='bower_components/jquery/dist/jquery.js')
body(fullbleed layout vertical)
  button(onclick="localStorage.clear();console.log('ya')") Clear storage
  .container(layout flex horizontal center-center)
    .layer.image(layout flex center-center)
      .overlay
  script(src='scripts/main.js')